@model SandboxCountry.Models.CountryData

@{
    ViewData["Title"] = "Home Page";

    string cName_E = Model?.CountryName_E;
    string cName_F = Model?.CountryName_F;

    string cName = string.Empty;

    if (!string.IsNullOrEmpty(cName_E))
        cName = cName_E + " / " + cName_F;

}

<div class="text-center">
    <h1 class="display-4">Welcome to Denis' Sandbox! (the walrus was here!)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<br />
<form asp-controller="Home" asp-action="GetCountryName" method="post">
    <label asp-for="CountryCode_Short"></label>
    <input asp-for="CountryCode_Short" style="width: 50px;" />&nbsp;<label>@cName</label>
    <br />
    <input type="submit" value="Get Country Name" />
</form>
